body {
  margin: 0;
  cursor: url(http://cur.cursors-4u.net/special/spe-2/spe114.cur), default;
}
nav {
  align-items: center;
  background-color: #e98251;
  display: flex;
  height: 60px;
  justify-content: space-evenly;
}

nav a {
  color: #17386d;
  text-decoration: none;
  font-size: 18pt;
  font-family: "vt323", monospace;
}

header {
  background-image: url("images/kages.jpg");
  background-size: cover;
  height: 300px;
}

section {
  background-color: #048abf;
  display: flex;
  justify-content: space-evenly;
  font-family: "vtd323", monospace;
}

section div {
  width: 40%;
}

div ul {
  list-style-image: url("images/kunai.png");
}

div p {
  text-align: justify;
}

ul li:nth-child(even) {
  color: white;
}

h2 {
  font-size: 22pt;
}

input::placeholder {
  font-family: "vt323" monospace;
}

input:focus {
  background-color: blue;
}

footer div:nth-child(1) {
  background-color: burlywood;
}

footer div:nth-child(2) {
  background-color: red;
}
